@media (max-width: 1260px) {
    .hero {
        padding: 100px 0 65px;
    }

    .hero__title {
        font-size: 45px;
    }

    .title {
        font-size: 45px;
    }

    .product__title {
        font-size: 45px;
    }

    .product__row {
        column-gap: 110px;
    }

    .results {
        padding: 100px 0 100px;
    }

    .adventages {
        padding: 100px 0 80px;
    }

    .adventages__row {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 0;

        justify-content: center;
    }

    .adventages__video {
        text-align: center;
    }

    .adventages__content {
        max-width: 100%;
    }

    .clients {
        padding: 100px 0 100px;
    }

    .slogan {
        padding: 100px 0;
    }
}

@media (max-width: 1076px) {
    .btn {
        font-size: 14px;
    }

    .footer__top {
        column-gap: 100px;
    }

}

/*   burger menu  */
@media (max-width: 1024px) {
    .nav {
        order: 2;
    }

    .nav__list {
        display: none;
    }

    .nav__button {
        display: block;
    }

    .nav__button img {
        width: 34px;
        height: 25px;
    }

    .nav.open .nav__list {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: #fff;

        /*z-index: 1;*/
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        font-size: 34px;
        font-weight: 600;

        z-index: 9;
    }

    .nav.open .nav__button {
        position: fixed;
    }

    .nav__button {
        position: absolute;
        z-index: 9;
        top: 40px;
        right: 30px;
    }
}

@media (max-width: 992px) {
    .hero__row {
        column-gap: 100px;
    }

    .slogan__row {
        padding: 0 150px;
    }

    .footer__menu {
        column-gap: 20px;
        flex-wrap: wrap;
    }

    .footer__btn {
        flex-shrink: 0;
    }

    .footer-form__input {
        flex-basis: 400px;
    }

    .footer__bottom {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 768px) {
    .hero__row {
        flex-direction: column;
        row-gap: 30px;
    }

    .hero__content {
        align-self: flex-start;
    }

    .clients__row {
        column-gap: 110px;
    }

    .footer__top {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .footer-form__input {
        flex-basis: 330px;
    }

    .footer-left {
        flex-direction: row;
        column-gap: 50px;
    }

    .btn {
        height: 56px;
    }

}

@media (max-width: 678px) {
    .header {
        padding-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        row-gap: 40px;
        align-items: flex-start;
    }

    .slogan__row {
        padding: 0px 28px;
    }

    .clients__row {
        column-gap: 40px;
    }

}

@media (max-width: 576px) {
    .results__list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .clients__row {
        flex-direction: column;
        row-gap: 40px;
    }

    .partners__row {
        flex-direction: column;
    }

    .product__row {
        flex-direction: column;
        row-gap: 50px;
    }

    .footer__top {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .hero__title {
        font-size: 32px;
    }

    .title {
        font-size: 32px;
    }

    .product__title {
        font-size: 32px;
    }

    .product__card {
        padding: 23px;
        padding-right: 57px;
    }

    .clients {
        padding-top: 70px;
    }

    .adventages {
        padding-bottom: 40px;
    }

    .footer__top {
        justify-content: center;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer__menu {
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-self: center;

        padding-left: 45px;
    }

    .footer__img {
        align-self: center;
    }

    .footer-form {
        flex-direction: column;
        row-gap: 30px;
    }

    .footer-form__input {
        flex-basis: 0;
    }
}
